<configuration>

    <!-- Disable Spring logs -->
    <logger name="org.springframework" level="OFF"/>
    <logger name="org.springframework.boot" level="OFF"/>

    <!-- Define an appender for file logging -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/data-pulse.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>logs/data-pulse_%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root logger: only write WARN+ to console, everything INFO+ to file -->
    <root level="INFO">
        <appender-ref ref="FILE" />
    </root>

</configuration>
